{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "embeddedLanguageFormatting": "auto",

  "singleQuote": true,
  "bracketSpacing": true,
  "proseWrap": "preserve",
  "bracketSameLine": false,

  "semi": false,
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "arrowParens": "always",
  "trailingComma": "none",

  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": false,

  "insertPragma": false,
  "requirePragma": false
}